In [30]:
import pandas as pd
import numpy as np
import os as os

In [2]:
#basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
#aka_url ='https://datasets.imdbws.com/title.akas.tsv.gz'
#rating_url='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
#basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
#akas = pd.read_csv(aka_url,sep='\t', low_memory=False)
#ratings = pd.read_csv(rating_url,sep='\t', low_memory=False)

In [4]:
basics=basics.replace({'\\N':np.nan}) #replace with usable null format
akas=akas.replace({'\\N':np.nan})
ratings=ratings.replace({'\\N':np.nan})

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short

In [8]:
basics=basics.dropna(subset=['runtimeMinutes']) #drop nulls in runtime

In [10]:
basics=basics.dropna(subset=['genres']) #drop nulls in genres

In [11]:
documentary = basics['genres'].str.contains('documentary',case=False) #drop documentaries
basics = basics[~documentary]

In [15]:
basics=basics.loc[basics['titleType'] == 'movie'] #limit output to only movies

In [24]:
basics['startYear']=basics['startYear'].replace({np.nan:0}) #disregard null values
basics['startYear']=basics['startYear'].astype(object).astype(int) #convert object to int
basics=basics.loc[basics['startYear'].between(2000,2022)]

In [26]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [27]:
akas=akas.loc[akas['region'] == 'US'] #keep only US titles

In [28]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [31]:
# example making new folder with os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [32]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [33]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [34]:
akas.to_csv("Data/akas.csv.gz",compression='gzip',index=False)
# Open saved file and preview again
akas = pd.read_csv("Data/akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [35]:
ratings.to_csv("Data/ratings.csv.gz",compression='gzip',index=False)
# Open saved file and preview again
ratings = pd.read_csv("Data/ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.9       256
2  tt0000003            6.5      1702
3  tt0000004            5.7       168
4  tt0000005            6.2      2517