In [1]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb 
import sqlalchemy as db
from tqdm.notebook import tqdm_notebook

# Part 1

In [ ]:
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
aka_url ='https://datasets.imdbws.com/title.akas.tsv.gz'
rating_url='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [ ]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
akas = pd.read_csv(aka_url,sep='\t', low_memory=False)
ratings = pd.read_csv(rating_url,sep='\t', low_memory=False)

In [ ]:
basics=basics.replace({'\\N':np.nan}) #replace with usable null format
akas=akas.replace({'\\N':np.nan})
ratings=ratings.replace({'\\N':np.nan})

In [ ]:
basics.head()

In [ ]:
basics=basics.dropna(subset=['runtimeMinutes']) #drop nulls in runtime

In [ ]:
basics=basics.dropna(subset=['genres']) #drop nulls in genres

In [ ]:
documentary = basics['genres'].str.contains('documentary',case=False) #drop documentaries
basics = basics[~documentary]

In [ ]:
basics=basics.loc[basics['titleType'] == 'movie'] #limit output to only movies

In [ ]:
basics['startYear']=basics['startYear'].replace({np.nan:0}) #disregard null values
basics['startYear']=basics['startYear'].astype(object).astype(int) #convert object to int
basics=basics.loc[basics['startYear'].between(2000,2022)]

In [ ]:
akas.head()

In [ ]:
akas=akas.loc[akas['region'] == 'US'] #keep only US titles

In [ ]:
akas.head()

In [ ]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

In [ ]:
basics = basics[keepers]
basics

In [ ]:
keepers_rating =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[keepers_rating]

In [ ]:
# example making new folder with os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

In [ ]:
#basics.to_csv("Data/title_basics_resubmit.csv.gz",compression='gzip',index=False)

In [2]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics_resubmit.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

In [3]:
#akas.to_csv("Data/akas_resubmit.csv.gz",compression='gzip',index=False)

In [4]:
akas = pd.read_csv("Data/akas_resubmit.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [5]:
#ratings.to_csv("Data/ratings_resubmit.csv.gz",compression='gzip',index=False)

In [6]:
# Open saved file and preview again
ratings = pd.read_csv("Data/ratings_resubmit.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1905
1  tt0000002            5.8       256
2  tt0000005            6.2      2518
3  tt0000006            5.1       173
4  tt0000007            5.4       783

In [ ]:
with open('/Users/svaze/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

In [ ]:
tmdb.API_KEY =  login['api-key']

In [ ]:
def get_movie_with_rating(movie_id):
# Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
# save the .info .releases dictionaries
    movie_info = movie.info()
    releases = movie.releases()
# Loop through countries in releases
    for c in releases['countries']:
    # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
           movie_info['certification'] = c['certification']
    return movie_info

In [ ]:
def write_json(new_data, filename): 
    """Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""    
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [ ]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

In [ ]:
YEARS_TO_GET = [2000,2001]

In [ ]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    basics = pd.read_csv("Data/title_basics_resubmit.csv.gz", low_memory = False)        
    #Saving new year as the current df
    df = basics.loc[basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    #Get index and movie id from list
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    
    for movie_id_year in tqdm_notebook(movie_ids_to_get, desc=f'Movies from {YEAR}', position=1, leave=True):
        try:
            temp = get_movie_with_rating(movie_id_year)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        # If it fails,  make a dict with just the id and None for certification.
        except Exception as e:
            continue
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [ ]:
a = pd.read_csv("Data/final_tmdb_data_2000.csv.gz", low_memory = False)
a.head()

In [ ]:
b = pd.read_csv("Data/final_tmdb_data_2001.csv.gz", low_memory = False)
b.head()

In [ ]:
final_years = pd.concat([a, b], ignore_index=True, sort=False)

In [ ]:
final_years.to_csv("Data/tmdb_results_combined.csv.gz",compression='gzip',index=False)

# Part 3

In [7]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy,[Comedy]
...,...,...,...,...,...,...,...,...,...,...
82193,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
82194,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
82195,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
82196,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
82197,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [8]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
82196,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Action
82196,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Adventure
82196,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Thriller
82197,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
82197,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [9]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [10]:
title_genres = exploded_genres[['tconst','genres_split']]
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [11]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

C:\Users\svaze\AppData\Local\Temp\ipykernel_11300\280659767.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)

In [13]:
genre_lookup = pd.DataFrame({'Genre Name' : genre_map.keys(),
                            'Genre ID': genre_map.values()})
genre_lookup.head()

  Genre Name  Genre ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
title_genres.dtypes

tconst      object
genre_id     int64
dtype: object

In [15]:
## get max string length
max_str_len = title_genres['tconst'].fillna('').map(len).max()

In [16]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [17]:
connection = "mysql+pymysql://root:root@localhost:8888/notebooks"
engine = db.create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost:8888/notebooks)

In [ ]:
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')